canvas{
background-image: url(https://i.imgur.com/wbSVx5X.png);
}
body {
    background-image: url('https://i.imgur.com/O61exd7.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;
    padding: 0;
  }